<h1>List of prework questions for </h1>

<table class="table">
  <tr>
    <th>Order</th>
    <th>Question</th>
    <th></th>
    <th></th>
  </tr>

<% @prework_questions.each do |prework_question| %>
  <tr>
    <td><%= prework_question.order %></td>
    <td><%= prework_question.question %></td>
    <td><%= link_to 'Edit', edit_prework_module_prework_question_path(prework_question.prework_module, prework_question), :class => "btn" %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

