<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      
        <h1>Welcome to Sydney Dev Camp!</h1>
      <div class="well">
        <h2>You have just started on a new, exciting adventure!</h2>
         <br>
        <p>This site is going to be the place to come for all things related to the programme. It is still evolving and many new features will be added over the next few months - perhaps even with your help.</p>

        <br>
        <h3>Introductions</h3>
        <p>To begin, please go to the discussion forum and create a topic to introduce yourself. Write about your background, what you hope to get out of the course and what your hobbies and interests are. It will be a great way for everyone to get to know each other.</p>

        <%= link_to 'Go to the discussion forum', forums_root_path, :class => 'btn btn-success btn-large' %>
        <br> <br>

        <h3>Prework</h3>
        <p>The prework is now available and you can get started as soon as you like. There is a forum topic set up for every module so you can discuss amongst yourselves and post your questions and observations there. Please also post any other links you discovered and found useful or interesting to help your fellow classmates as they go throught the modules.</p>

        <p>We are all about collaboration here - this is not a competition. We want to foster a culture of "paying it forward" - helping others when you can because one day you might need help.</p>

        <%= link_to 'Go to prework', prework_path, :class => 'btn btn-success btn-large' %>

        <br> <br>
        <h3>The course</h3>
        <p>The course work will be posted week by week so that I can adjust it as we go along. I am expecting to need to fine tune the pace of the course as we discover how fast we get through the work.</p>

        <h3>See you all very soon! Not long now!</h3>

      </div>
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->