<% @announcements.each do |announcement| %>
  <h1><%= announcement.title %> <small> <%= announcement.created_at.strftime("%e %b %Y") %></small></h1>
  <div class="well">
    <%= auto_link(announcement.body).html_safe %>
    <% if current_user.has_role? :admin %>
      <%= link_to 'Edit announcement', edit_announcement_path(announcement), :class => 'btn' %>
      
    <% end %>
  </div>
<% end %>
