<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <h2>MENU</h2>
        <%= link_to 'Welcome', root_path, :class => "btn btn-primary btn-block btn-large" %>
        <%= link_to 'Discussion', forums_root_path, :class => "btn btn-primary btn-block btn-large active" %>
        <%= link_to 'Prework', forums_root_path, :class => "btn btn-primary btn-block btn-large" %>
        <%= link_to 'Course', forums_root_path, :class => "btn btn-primary btn-block btn-large" %>
    </div>